*{
  margin:0;
  padding:0;

}
html,
body{
  background-color:rgb(44, 44, 44);
  color:white;
  height:100%;
  width:100%;
}
.card{
  background-color: rgb(81, 8, 8);
  border-radius:20px;
  margin:20px;
  padding:30px;
}