*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'helvetica neue';
}
html,
body{
  height:100%;
  width:100%;
  background: #000;
  color:white;
}
.parent{
  padding:20px;
  display:flex;
  text-align:center;
  flex-wrap: wrap;
}

.card{
  width:200px;
  background-color:#222;
  padding:20px;
  border:1px,solid,white;
  border-radius:10px;
  margin:10px;
  text-align:center;
}
.card img{
  height:140px;
  width:140px;
  object-fit:cover;
  border-radius: 50%;
}
.card p{
  margin:20px 0px;
}
.card button{
  padding:10px 20px;
  background-color: aliceblue;
  font-weight: bolder;
}