
.page1{
  height:700px;
  width:100%;
  background-color: #202020;
}
.page2{
  height:700px;
  width:100%;
  background-color: pink;
}
.page3{
  height:700px;
  width:100%;
  background-color: black;
}