*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'helvetica neue';
}
html,
body{
  height:100%;
  width:100%;
  background-color: #111;
}
.parent{
  min-height: 100vh;
  width:100%;
  background-color: #111;
  padding:40px;
  display: flex;
  justify-content: center;
  gap:50px;
  flex-wrap: wrap;
}

.card{
  height:360px;
  width:300px;
  background-color: #fff;
  border-radius: 30px;
  padding:30px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:30px;
  

}
.img{
  height:50px;
  width:50px;
  border-radius:50%;
  border:5px solid #e7e4e4;
  background-size:cover;
}
.top button{
  display: flex;
  align-items: center;
  border:1px solid #dadada;
  padding:3px 7px;
  font-size:14px;
  border-radius:5px;
  gap:5px;
  background-color: transparent;
  color:#b1b1b1;
}
.center{

  
}
.center h3{
  font-size:17px;
  font-weight:550;
}
.center h3 span{
  font-size:9px;
  font-weight:450;
  color:#b8b8b8;
}
.center h2{
  font-size:22px;
}
.center .tag{
  display: flex;
  gap:6px;
  margin-top:8px;
}

.center .tag h4{
  font-size:12px;
  font-weight:700;
  background-color: #dadada;
  color:#111;
  padding:4px 8px;
  border-radius:6px;
}


.bottom{
  display: flex;
  align-items: center;
  justify-content:center;
  border-top:1.5px solid #b1b1b1;
  padding:6px;
  gap:50px;
}
.bottom button{
  background-color: black;
  color:#dadada;
  font-size:13px;
  padding:5px 10px;
  border-radius:6px;
  border:none;
}

.bottom h3{
  font-size: 17px;
  
}
.bottom p{
  font-size:12px;
  color:#b3b0b0;
}